.chatContainer {
    /* margin: 0; */
    animation: Gradient 100s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: "source-sans-pro", Helvetica, sans-serif;
    margin-top: 2em;
    margin-bottom: 2em;
  }